@model IEnumerable<BigSchool01.Models.Course>
@{
    ViewBag.title = "home page";
}


<div class="row">
    <ul>
        @foreach (var course in Model)
        {
            <li>
                @course.DateTime - @course.Lecturer.Name
            </li>
        }
    </ul>
</div>


<main>
    <section class="row" aria-labelledby="aspnettitle">
        <h1 id="title">asp.net</h1>
        <p class="lead">asp.net is a free web framework for building great web sites and web applications using html, css and javascript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingstartedtitle">
            <h2 id="gettingstartedtitle">getting started</h2>
            <p>
                asp.net mvc gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?linkid=301865">learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariestitle">
            <h2 id="librariestitle">get more libraries</h2>
            <p>nuget is a free visual studio extension that makes it easy to add, remove, and update libraries and tools in visual studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?linkid=301866">learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingtitle">
            <h2 id="hostingtitle">web hosting</h2>
            <p>you can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?linkid=301867">learn more &raquo;</a></p>
        </section>
    </div>
</main>